body{
    margin: 0;
    padding: 0;
}

.footer {
    background-color: hsl(0, 0%, 0%);
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    
}

a {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.75);
    text-decoration: underline;
    padding-right: 10px;
}
